# Ignore all files in the gtFine and leftImg8bit directories
src/data/cityscapes/

# DS_Store files, pycaches, and other common ignores
**/.DS_Store
.DS_Store
src/models/segformer/__pycache__/
*.pyc
data/lst.py
*.pth
__pycache__/